{% extends 'webTemplates/base.html.twig' %}

{% block mainBody %}
    <div class="center" style="font-size: 6rem; color: #eee; background-color: #444; padding: 4rem 0;">
        403
    </div>
    <div class="container" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="row">
            <div class="col-md-12 center" style="font-size: 2rem; line-height: 2.5rem;">
                <div style="padding: 2rem 0;">
                    Prístup nepovolený
                </div>
                <div style="padding: 2rem 0;">
                    Access Denied
                </div>
            </div>
        </div>
    </div>
{% endblock %}