$link-default: #7d4619;
// $link-default: #0e497f;
$link-default-hover: #8f5728;
// $link-default-hover: #497FFF;

$gray0: #f7f7f7;
$gray1: #dddddd;
$gray2: #555555;
$gray3: #888888;
$gray4: #bbbbbb;

$red: #fa2a2a;
$green: #51be3f;
$blue: #007BFF;

$brown1: #331700;
$brown2: #a1612c;
$brown3: #ffbc75;
$brown4: #683c18;
$brown5: #522602;
$brown6: #ffe7cd;

//$brown1: #023665;
//$brown2: #384ab8;
//$brown3: #a5bdfc;
//$brown4: #6278e8;
//$brown5: #11216f;
//$brown6: #d8e0fd;

$white: #ffffff;

$bg-main: #fffff;

$pzp-primary: #8DC729;
$pzp-secondary: #6AA20A;

$casco-primary: #5C891B;
$casco-secondary: #4C760F;

$gap-primary: #017E70;
$gap-secondary: #01675C;

$vehicle-combi-primary: #88ac49;
$vehicle-combi-secondary: #6d932c;

$rz-primary: #32AA9D;
$rz-secondary: #317E76;

$travel-primary: #c3bc00;
$travel-secondary: #9e9801;

$building-primary: #932f86;
$building-secondary: #811e74;
